@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common css */
*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body{
  justify-items: center;
  /* background-color: #1A0B2E; */
}

.btn1{
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
  padding: 12px 16px;
  border-radius: 1000px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.btn1:hover{
  background-image: linear-gradient(-135deg, #F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
}
/* header section */

header{
  background-color: #1A0B2E;
  width: 100%;
  max-width: 1600px;
}

nav{
  padding: 16px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

nav ul a{
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
}

nav ul a:hover{
  color: bisque;
}

#hamburger-menu{
  display: none;
}

/* Banner Section */

.banner{
  background-image: url(assets/hero-bg.png);
  background-size:cover;
  background-position:center;
  max-width: 1600px;
  justify-items: center;
  padding: 101px;
}

.banner-head{
  width: 350px;
  height: 350px;
  background-image: url(assets/hero-circle.png);
  background-size: cover;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.badge{
  position: absolute;
  top: 12px;
  right: 23px;
  padding: 8px 16px;
  background-color: #00FF88;
  border-radius: 1000px;
  font-size: 18px;
  font-weight: 600;
}

.banner-body{
  justify-items: center;
}
.banner-body h1{
  font-weight: 1000;
  color: white;
  font-size: 3.75rem;
  margin-bottom: 8px;
}

.banner-body p{
  color: white;
  font-size: 1rem;
  margin-bottom: 24px;
  text-align: center;
}

.banner-btn{
  display: flex;
  gap: 8px;
  align-items: center;
}

.banner-btn .btn1{
  gap: 8px;
  padding: 12px 20px;
}

.banner-btn .btn2{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 20px;
  border-radius: 1000px;
  border: 1px solid #00FF88;
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  gap: 8px;
  background-color: transparent;
}

/* About Section */

  .about{
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
    padding: 50px 200px 120px 200px;
    text-align: center;
  }

  .about .head{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .about .details{
    color: white;
    opacity: 80%;
    font-size: 1rem;
    line-height: 20pt;
    margin-bottom: 80px;
  }

  .about hr{
    opacity: 10%;
    margin-bottom: 80px;
  }

  .statistics{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 80px;
  }

  .items h1{
    color: #00FF88;
    font-weight: 1000;
    font-size: 3rem;
    margin-bottom: 16px;
  }

  .items p{
    color: white;
    font-size: 1rem;
    opacity: 80%;
  }

  .why-choose{
    background-color: #230E3D;
    width: 100%;
    max-width: 1600px;
    padding: 120px 200px;
    justify-content: center;
    text-align: center;
  }

   .why-choose .head{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
   }

   .card-container{
    display: grid;
    grid-template-areas: 'c1 c2 c2'
                         'c1 c3 c3'
                         'c4 c4 c5';
    gap: 30px;
   }

   .card1{
    grid-area: c1;
   }

    .card2{
    grid-area: c2;
   }
    .card3{
    grid-area: c3;
   }

    .card4{
    grid-area: c4;
   }

    .card5{
    grid-area: c5;
   }

   .cards{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    text-align: left;
    align-content: center;
   }
   .cards img{
    height: 60px;
   }

    .cards h2{
    margin: 16px 0;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    }

  .cards p{
    font-size: 1rem;
    color: white;
    line-height: 24pt;
  }

  /* Feature Section */

  .feature{
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
    padding: 120px 200px;
    justify-items: center;
  }

  .feature .title{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .feature-container{
    display: flex;
    gap: 30px;
  }

  .feature-items{
    background-color: #250D44;
    border-radius: 24px;
  }

   .feature-items .info{
    padding: 24px;
   }

   .items-title{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
   }

   .info p{
    color: white;
    opacity: 60%;
    margin-bottom: 12px;
   }

   .info span{
    display: flex;
    gap: 6px;
    align-items: center;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
   }

   .host{
    background-color: #1A0B2E;
    padding: 0 200px 120px 200px;
    justify-items: center;
    max-width: 1600px;
   }

   .host-title{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
   }

  .host-container{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .host-dtails h2{
    color: white;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 2rem;
  }

  .host-dtails p{
    color: white;
    opacity: 60%;
    line-height: 24pt;
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .social{
    display: flex;
    gap: 8px;
  }

  .circle{
    height: 40px;
    width: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    text-align: center;
    align-content: center;
  }

  .circle:hover{
    cursor: pointer;
    border: 1px solid #FB09B4 ;
  }

  footer{
    background-image: url(assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1600px;
    padding: 120px;
    color: white;
    text-align: center;
  }

  .links{
    margin: 32px auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-content: center;
  }
  .link{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
  }
  .link:hover{
    color: white;
  }
  .links a {
    text-decoration: none;
    color: white;
  }
  .copyright{
    font-size: 1rem;
    opacity: 60%;

  }
/* Mobile View */

@media screen and (max-width: 576px) {
  
  nav{
  padding: 16px 20px;
  }
  nav ul, nav .btn1 {
    display: none;
  }

  #logo{
    height: 20px;
  }

  #hamburger-menu{
  display:inline;
  }
  .banner{
    padding: 40px 20px;
  }

  .banner-head{
    height: 200px;
    width: 200px;
    margin-bottom: 24px;
  }

  .banner-head img{
    height: 80px;
  }

  .badge{
  top: 4px;
  right: 0;
  font-size: 16px;
  }

  .banner-body h1{
    font-size: 2.5rem;
  }

  .banner-btn .btn1, .banner-btn .btn2 {
  gap: 4px;
  padding: 12px 16px;
  font-size: 14px;
  }

  }
  /* Tab View */

@media screen and (min-width: 576px) and (max-width: 992px) {

  nav{
  padding: 16px 20px;
  }

  #logo{
    height: 20px;
  }

  .banner{
    padding: 50px 20px;
  }

  .banner-head{
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
  }

  .banner-head img{
    height: 120px;
  }

  .badge{
  top: 10px;
  right: 10px;
  font-size: 16px;
  }

  .banner-body h1{
    font-size: 3rem;
  }
  }