@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common css */
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  justify-items: center;
}

.btn1{
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
  padding: 12px 16px;
  border-radius: 1000px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.btn1:hover{
  background-image: linear-gradient(-135deg, #F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
}
/* header section */

header{
  background-color: #1A0B2E;
  width: 100%;
  max-width: 1600px;
}

nav{
  padding: 16px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

nav ul a{
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
}

nav ul a:hover{
  color: bisque;
}

#hamburger-menu{
  display: none;
}


/* Mobile View */

@media screen and (max-width: 576px) {
  
  nav{
  padding: 16px 20px;
  }
  nav ul, nav .btn1 {
    display: none;
  }

  #logo{
    height: 20px;
  }

  #hamburger-menu{
  display:flex;
  }

  }